{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}My shop{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sandstone/bootstrap.css">
    </head>
<body>
    <div id="header">
        <a href="/" class="logo">My shop</a>
    </div>
    <div id="subheader">
        <div class="cart">
        Your cart is empty.
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>