{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
{% if unit %}{{ unit.name }}{% else %}Ordens de manutenção{% endif %}
{% endblock %}
{% block content %}
    <div class="container pt-5">
    <h3>Unidades</h3>
        <ul>
            <li {% if not unit %}class="selected"{% endif %}>
                <a href="{% url "maintenance:order_list" %}">All</a>
            </li>
            {% for c in units %}
                <li {% if unit.slug == c.slug %} class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if unit %}{{ unit.name }}{% else %}Unidades {% endif %}</h1>
        {% for order in orders %}
            <div class="item">

                <a href="{{ order.get_absolute_url }}">{{ order.name }}</a>
                <br>
                ${{ order.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}